
.. role:: normal

.. raw:: pdf

   Spacer 0 7cm

.. image:: vacuum.png
	:width: 10cm

.. raw: pdf
	
	Space 0 1cm

<?py if title: ?>

.. cssclass:: title

#{title}

.. cssclass:: subtitle

verzia: 1.0

<?py #end ?>

<?py if subtitle: ?>

<?py #end ?>

.. raw:: pdf

   Spacer 0 9cm

  PageBreak oneColumn

.. header::
	
	#{title} verzia 1.1
